[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipykernel = "*"
pandas = "*"
statsmodels = "*"
scikit-learn = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "3.6"
